body{
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    font-size: 1rem;
    letter-spacing: 1px;
    overflow-x: hidden;
}
ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
}
h1{
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
}
h3{
    font-size: 1.4rem;
    color: rgba(0,0,0,.87);
}
p{
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.54);
}
.section-title{
    padding-top: 8vh;
    text-align: center;
}
.fa-large{
    font-size: 6em;
}
.green{
    color: #81C784;
}
.l-padding-1px{
    padding-right: 4px;
}
.primany-text{
    color: rgba(0,0,0,.87);
}
.second-text{
    color: rgba(0,0,0,.54);
}
button:focus,button:active{
    border:none;
}




.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    transition: .4s;
}
.header-nav div{
    line-height: 62px;
}
.header-logo-name{
    color: #fff;
}
.header-nav-list{
    display: inline-flex;
}
.header-nav-list li{
    padding: 20px 8px;
}
.header-nav-list li a{
    color: #fff;
    font-size: 0.94rem;
}

#header-title{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background:linear-gradient(-135deg,#00B4DB,#0083B0);
}

.header-title-text{
    width: 48%;
    margin: 0 auto;
    padding: 8px 0;
    color: #fff;
    letter-spacing: 1px;
    line-height: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92%;
    margin: -16vh auto auto auto;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 24px;
    box-shadow: 0 8px 40px rgba(0,0,0,.4);
}
main section{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

#first-section{
    width: 72%;
    text-align: center;
    flex-wrap: wrap;
    padding: 8vh 0;
}
#first-section p{
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#second-section{
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
#second-section article{
    padding: 0 12px;
    letter-spacing: 1px;
    word-break: break-all;
}

.third-section-lists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 8vh 0 0 0;
}
.third-section-lists a{
    padding: 0 12px;
    color: #999;
    word-break: break-all;
}
.third-section-lists a img{
    max-width: 360px;
    max-height: 140px;
}

#forth-section{
    flex-direction: column;
    justify-content: space-around;
}
.forth-section-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4vh 0;
}
.forth-section-left{
    flex: 0.4;
    padding: 2vh 0;
}
.forth-section-left p{
    width: 80%;
}
.forth-section-button{
    padding-top: 2vh;
}

.forth-section-right{
    flex:0.38;
}
.forth-section-right ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    line-height: 30px;
    padding: 16px 0;
    border-bottom: 1px solid #999;
}
.forth-section-right ul li:nth-last-child(1){
    border:none;
}
.primany-button{
    padding: 16px;
    border: transparent;
    border-radius: 20px;
    background-color: #00B4DB;
    color: #fff;
    transition: .6s;
}

#fifth-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 12vh;
}
.fifth-section-text{
    padding-top: 4vh;
    color: rgba(0,0,0,.54);
}




footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh 0;
}
.footer-nav-list{
    display: inline-flex;
}
.footer-nav-list li{
    padding: 0 8px;
}
.footer-social-button a{
    padding: 0 4px;
}


@media screen and (max-width: 960px) {
    .header-nav{
        justify-content: space-between;
    }
    .navlist{
        display: none;
    }
    .logo{
        padding-left: 8vh;
    }

    .header-title-text{
        width: 96%;
    }
    #second-section,.third-section-lists,.forth-section-wrap{
        flex-direction: column;
    }
    #second-section article,.third-section-lists a{
        padding: 4vh 0;
    }
    .forth-section-left{
        text-align: center;
    }
    .forth-section-left p{
        width: 100%;
    }
    .forth-section-right{
        text-align: center;
    }
    .forth-section-list li{
        width: 50%;
        margin: 0 auto;
    }
    .forth-section-list li p{
        margin: 0 auto;
    }
}